:root {
    --accent: #53bd9a;
    --darkAccent: #2e6855;
}

html {
    scroll-behavior: smooth !important;
}

.page-header {
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 3px solid var(--accent);
}

.page-header h1 {
    margin: 0px;
    padding: 40px 20px;
    color: white;
}

.page-header a {
    display: flex;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decordation: unset !important;
}

.page-header img {
    height: 50px;
    margin: auto 20px;
    margin-right: 0px;

}

body {
    background-color: #242424;
    margin: 0px;
}

.small-header {
    padding: 60px;
    padding-bottom: 0px;
    font-family: 'Noto Sans', sans-serif;
}

main {
    padding: 60px 60px;
    margin: 40px 10%;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border-radius: 20px;

}

.left-description h2 {
    margin: 0px;
    color: var(--accent);
    padding-bottom: 20px;
    font-size: 30px;
}

.left-description h3 {
    color: var(--accent);
}

.left-description ul {
    color: white;
    font-size: 18px;
}

.btn {
    text-decoration: none;
    color: var(--accent);
}

.btn:hover {
    color: var(--darkAccent);
}

main p,
main a {
    font-size: 18px;
    color: white;
}

.small-header h2,
main h3 {
    color: white;
}

main a {
    font-weight: bolder !important;
}

.main-left {
    width: 50%;
    margin-right: 100px;
}

.main-right {
    width: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 30px;
    background-color: #242424;
    padding: 3px;
    border-radius: 20px;
    margin: 0 auto;
    height: min-content;
}

.sort-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px;
    height: min-content;
}

.sort-menu a {
    font-size: 22px;
    margin: 10px 0;
}

.element-container {
    display: flex;
    flex-direction: row;
    gap: 1px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    width: 710px;
    height: 400px;
    padding: 40px
}

.element-item {
    width: 100%;
    background-color: var(--accent);
    margin-top: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.user-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 33px;
    background-color: #242424;
    max-width: 300px;
}

.return-home button {
    background-color: var(--accent);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    text-decoration: unset;
    margin-bottom: 20px;
}

.return-home button p,
.return-home button a {
    color: white;
    text-decoration: none;
}

.return-home button p {
    margin: 4px;
}

.user-controls button {
    background-color: var(--accent);
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    max-width: 200px;
}

.control-slider .slider {
    -webkit-appearance: none;
    appearance: none;
    background: #6e6e6e;
    height: 5px;
    border-radius: 5px;
}

.control-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--accent);
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--accent);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border: 2px solid white;
    border-radius: 5px;
}

.text-box-text input {
    height: 16px;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    width: 50px;
}

.text-box-text {
    display: flex;
    gap: 20px;
}

.inputBox {
    width: 100px;
}

.icon {
    width: 25px;
    filter: invert(100%);
}

button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

button>p {
    text-align: center;
    margin: 4px;
}

/*------Tabs------*/
.tabs li a {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}

code {
    background-color: black !important;
    border: unset !important;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    width: min-content;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

.panels-container {
    padding-top: 20px;
}

.tabs-container {
    margin: 0 10%;
    background: black !important;
    border-radius: 20px;
}

.tabs-title {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 30px;
    border-bottom: 3px solid var(--accent);
}

.about-section {
    color: white;
    background: black;
    margin: 100px 10%;
    text-align: left;
    padding: 30px;
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.about-section h2 {
    color: var(--accent);
}

.about-section p {
    font-size: 18px;
}


/*-------------Tabs Styling--------------*/
.tabs-container {
    background: #e5e5e5;
  }

  .tabs-list-container {
    width: 960px;
    margin: 0 auto;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      width: 25%;
    }

  }

  .tab {
    position: relative;
    display: block;
    padding: 30px 0;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #333;

    &.-active {
      background: #fff;
    }
  }

  .panels-container {
    padding: 80px 0;
    text-align: center;
  }

  .notice {
    font-size: 12px;
    color: #aaa;
    text-align: center;
  }

  pre code {
    margin: 0 15%;
    width: 100%;
  }

  pre {
    display: flex;
  }

.link-out {
    text-decoration: none;
    color: var(--accent);
    font-weight: bolder;
}

.link-out:hover {
    color: var(--darkAccent);
}

footer {
    background-color: black;
    margin: 0;
    padding: 20px 40px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    border-top: 3px solid var(--accent);
    height: 140px;
}

.footer-title {
    font-weight: bolder;
}

.footer-button {
    padding: 10px;
    background-color: black;
    border: 2px solid var(--accent);
    color: white;
    border-radius: 20px;

}

footer .icon {
    padding: 0px 10px;
    position: relative;
    top: 6.5px;
}


@media (max-width: 1545px) {
    .small-header {
        padding: 20px 10px;
    }
    main {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }
    
    .main-left {
        width: 100%;
    }
    
    .user-controls {
        width: calc(100% - 80px);
        max-width: unset;
        background-color: unset;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .user-controls button {
        width: 40px;
        height: 40px;
        margin: auto 0;
    }
    
    .control-slider {
        margin: auto 10px;
    }
    
    .control-box button {
        content: "Set" !important;
    }
    
    .control-box button p {
        display: initial !important;
        margin: auto;
        font-size: 15px;
    }
    
    .user-controls button p {
        display: none;
    }
    
    .control-box > p:nth-child(3) {
        font-size: 14px;
    }
    
    .main-right{
        width: 100%;
        background-color: unset;
    }
    
    .element-container {
        width: calc(100% - 82px);
        height: 300px;
        max-width: 800px;
        margin: auto;
    }
    
    .tabs-container{
        margin: 10px;
        margin-top: 40px;
    }
    
    .panels-container {
        padding: 10px;
    }
    
    .tab-content:after {
        content: "TIP: You can scroll horizontally to view all code on mobile devices!";
        font-size: 16px;
        color: white;
        font-family: 'Noto Sans', sans-serif;
    }
    
    pre code {
        margin: 0px;
    }
    
    .tabs-list-container {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
    }
    
    .tabs {
        justify-content: unset;
        gap: 30px;
        margin: auto;
    }
    
    .about-section {
        margin: 0px;
        margin-top: 30px;
    }
}