:root {
    --accent: #53bd9a;
    --darkAccent: #2e6855;
}

.page-header {
    background-color: black;
    color: white;
    font-family: 'Roboto';
}

.page-header h1 {
    margin: 0px;
    padding: 40px 20px;
    border-bottom: 2px solid var(--accent);
}

body {
    background-color: #242424;
    margin: 0px;
}

.small-header {
    padding: 60px;
    padding-bottom: 0px;
    font-family: 'Roboto';
}

main {
    padding: 60px 60px;
    margin: 40px 10%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border-radius: 20px;
    
}

.left-description h2 {
    margin: 0px;
    color: var(--accent);
    padding-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: var(--accent);
}

.btn:hover {
    color: var(--darkAccent);
}

main p,
main a {
    font-size: 18px;
    color: white;
}

.small-header h2,
main h3 {
    color: white;
}

main a {
    font-weight: bolder !important;
}

.main-left {
    width: 50%;
    margin-right: 100px;
}

.main-right {
    width: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 30px;
    background-color: #242424;
    padding: 3px;
    border-radius: 20px;
    margin: auto;
}

.sort-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px;
}


.element-container {
    display: flex;
    flex-direction: row;
    gap: 1px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    width: 710px;
    height: 400px;
    padding: 40px
}

.element-item {
    width: 100%;
    background-color: var(--accent);
    margin-top: auto;
}

.user-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 33px;
    background-color: #242424;
    max-width: 300px;
}

.user-controls button {
    background-color: var(--accent);
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Roboto';
    cursor: pointer;
    max-width: 200px;
}

.control-slider .slider {
    -webkit-appearance: none;
    appearance: none;
    background: #6e6e6e;
    height: 5px;
    border-radius: 5px;
}

.control-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--accent);
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--accent); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 2px solid white;
    border-radius: 5px;
  }

.text-box-test input{
    height: 100px;
}

.inputBox {
    width: 100px;
}